# Only allow specific JSON files
# keeps export controlled data off of Github
*.json
!tests/json/*.json

# Only allow excel from tests folder
*.xlsx
!tests/xl/*.xlsx

# Exclude dev environment
/py37

journal.py
__pycache__*
*.log
*.swp
tests/nx/
nx_get_mp.py
