# Only allow specific JSON files
# keeps export controlled data off of Github
*.json
!console_config.json

# Only allow specific excel files
*.xlsx
!tests/datum_excel_tests.xlsx

journal.py
__pycache__*
*.log
*.swp
tests/nx/
nx_get_mp.py
