# Only allow specific JSON files
# keeps export controlled data off of Github
*.json
!tests/json/*.json

# Only allow excel from tests folder
*.xlsx
!tests/xl/*.xlsx

# Exclude dev environment
/py37
/venv

# For now, leaving NX part files off of Github
# Part files for NX test can be found here: https://grabcad.com/library/coaxial-gearbox-1
tests/nx/*
!tests/nx/datum_nx_test_measurements.prt

journal.py
__pycache__*
*.log
*.swp
nx_get_mp.py
